
<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EdTech Sales Rep Consulting Blog</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/album/">

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">EdTech Sales Rep Consulting</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="{% url 'allblogs' %}">Services</a>
            <a class="nav-item nav-link" href="https://medium.com/@edtechsalesrep" target="_blank">Medium</a>
            <a class="nav-item nav-link" href="#">Podcast</a>
            <a class="nav-item nav-link" href="#">About</a>
          </div>
        </div>
      </nav>
</header>

<main role="main">
<div class="container">
<h1 class="text-center pt-3">Services</h1>
<br />
<br />
<!--- <h2>Latest Posts</h2>
<hr /> -->

<h3 class="text-center pt-3">Market Research & Business Strategy</h3>
<div style="text-align:center;"><img class="img-fluid" src="{% static 'plan.png' %}" height=200 width=200 /></div>
<p>How can your EdTech offering compete in increasingly diverse and rapidly growing industry?</p>
<p>Right now, your EdTech solution has a competitive advantage over all the similar offerings in the market. Most likely, you already know this. But, getting the school administrators to realize why your solutions is the best option is not as easy as it may seem.</p>
<p>Only someone with EdTech sales experience that knows the marketplace intimately - and knows how to position products and services in front of administrators and teachers to generate the most interest -&nbsp; will be able to do so.</p>
<p>At EdTech Sales Rep Consulting, we'll be able to analize your product and understand the unique story behind it that will be the catalyst for sales growth and large-scale adoption. In addition, we will know how your products&nbsp; stacks up again competing products and solutions. We'll be able to pinpoint the perfect strategy. We'll figure out what the competing companies are doing, how you can gain an advantage by reaching out to under-appreciated marketis in the education space that do not garner as much attention bu
<br />
<br />

<h3 class="text-center pt-3">Executive Search & Recruiting</h3>
<div style="text-align:center;"><img class="img-fluid" src="{% static 'hiring_2.png' %}" height=200 width=200 /></div>
<p>Success EdTech sales executive have to have the tenacity of a New York City real estate broker, along with the compassion of a social worker. The same high performing EdTech salespeople need to be tech savvy, organized, and feel the missionary zeal to provide super customer service whenever their schools need help. How do are you supposed to find a sales superstar with all these qualities - let alone many similar candidates to fulfill all of your sales responsibilities year-in and year-out? Partner with EdTech Sales Rep Consulting for all your recruiting, interviewing, and hiring needs.</p>
<p>EdTech Sales Rep Consulting will:</p>
<ul>
<li>Employ a thorough approach designed towards identifying the ideal candidate for your role and your company</li>
<li>Evaluation of your organization's current sales procedures to determine what types of new hires could propel your company to future</li>
<li>Craft job descriptions that will attract attention from the highest caliber candidates on over-saturated job boards</li>
<li>Screen prospects with targeted questions to identify strengths and weaknesses specific to the EdTech field based on our in depth market knowledge</li>
<li>Define and work within time frame and budget for hiring</li>
</ul>
<p>With extensive knowledge of the industry, the EdTech Sales Rep Consulting recruitment model takes an intensive approach to finding the best fit for your company.</p>
<br />
<br />
<h3 class="text-center pt-3">Execute & Improve</h3>
<div style="text-align:center;"><img class="img-fluid" src="{% static 'plan.png' %}" height=200 width=200 /></div>
<p>How can your EdTech offering compete in increasingly diverse and rapidly growing industry?</p>
<p>Right now, your EdTech solution has a competitive advantage over all the similar offerings in the market. Most likely, you already know this. But, getting the school administrators to realize why your solutions is the best option is not as easy as it may seem.</p>
<p>Only someone with EdTech sales experience that knows the marketplace intimately - and knows how to position products and services in front of administrators and teachers to generate the most interest -&nbsp; will be able to do so.</p>
<p>At EdTech Sales Rep Consulting, we'll be able to analize your product and understand the unique story behind it that will be the catalyst for sales growth and large-scale adoption. In addition, we will know how your products&nbsp; stacks up again competing products and solutions. We'll be able to pinpoint the perfect strategy. We'll figure out what the competing companies are doing, how you can gain an advantage by reaching out to under-appreciated marketis in the education space that do not garner as much attention bu
<br />
<br />

<div ALIGN="center">
<a id="consultation"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLScQ-Emv7Uq3aPdCxEM0uRNWtOil1ruzKf527MW_UxMUAneS6w/viewform?embedded=true" width="640" height="1097" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">Loading…</iframe></a>
</div>
<!---{% for blog in blogs.all %}
<a href="{% url 'detail' blog.id %}"><h3>{{ blog.title }}</h3></a>
{{ blog.pub_date_pretty }}
<br />
<img class="img-fluid" src="{{ blog.image.url }}"height=200 width=200 />
<br />
<p>{{ blog.summary }}</p>
  <p><a class="btn btn-secondary" href="{% url 'detail' blog.id %}" role="button">Read More &raquo;</a></p>
{% endfor %} -->


</div>
</main>

<footer class="text-muted">
  <div class="container text-center">
    <p> © EdTech Sales Rep Consulting {% now "Y" %}</p>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>
