<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>{{ blog.title }}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/album/">

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">EdTech Sales Consulting</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="{% url 'allblogs' %}">Services</a>
            <a class="nav-item nav-link" href="https://medium.com/@edtechsalesrep" target="_blank">Medium</a>
            <a class="nav-item nav-link" href="#">Podcast</a>
            <a class="nav-item nav-link" href="#">About</a>
          </div>
        </div>
      </nav>
</header>

<main role="main">
<div class="container">

<h1 class="text-center pt-3">{{ blog.title }}</h1>
<!-- <p class="text-center">{{ blog.pub_date }}</p> -->

<br />
<br />
<p><img class="img-fluid" src="{{ blog.image.url }}" style="float: left;" />{{ blog.body }}
  With nearly 15 years of experience in educational technology sales and sales management, EdTech Sales Rep Consulting is a multi-service sales consultancy with a focus on fostering real sales representative behavior change and performance improvement in the K-12 and higher education space.
</p>
<p>
EdTech Sales Rep Consulting extends to our clients a deep understanding of what drives K-12 and higher education decision-makers to choose one technology solution over another. With this insight, we can provide our clients with actionable steps to sales process and methodology improvements to ensure profitability in spite of any dynamic internal staffing shits and changing external market forces.
</P>
<p>
  Although our consultancy is buttressed by a high-level framework of sales process creation and enhancement along with executable skills training, EdTech Sales Rep Consulting does not rely solely on nonspecific business direction and instruction to achieve results. EdTech Sales Rep Consulting prides ourselves on being in the field, constantly and continuously engaging with K-12 schools and higher education organizations. We will have detailed support and recommended actions items for companies and sales executives of all levels of experience - ranging from which social media strategies are best suited for engaging with school administrators, to why and how EdTech should adopt and adapt traditional strategic account management techniques into school district and higher ed technology sales.


</p>

</div>
</main>

<footer class="text-muted">
  <div class="container text-center">
    <p> © EdTech Sales Rep Consulting {% now "Y" %}</p>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>
